<h3>Legacy Home</h3>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates libero quas harum, ab, animi aperiam impedit tempora
	temporibus est fuga consectetur porro nulla aspernatur totam optio qui accusantium nesciunt eligendi.</div>
<div>Nisi atque placeat itaque officiis laboriosam ex, ipsam asperiores tempora ipsa quam sint impedit, dolore iste voluptatem
	voluptate libero. Nulla, ducimus! Consequatur necessitatibus beatae nulla! Cumque pariatur dolorem itaque laudantium!</div>
<div>Libero enim animi, voluptates fugit omnis ut alias? Saepe error recusandae doloremque dolores enim magni accusamus deserunt,
	tempora distinctio cum laborum dolore, placeat ea ipsum in numquam, neque officia perspiciatis!</div>
<div>Sapiente harum molestias perspiciatis, reprehenderit, excepturi natus esse maiores aperiam eaque libero vitae ipsa eligendi
	ratione pariatur, praesentium illo assumenda amet id? Magni adipisci, aut deleniti quasi officia tempore soluta.</div>


<md-list>
	<md-nav-list>
		<a md-list-item routerLink="home" routerLinkActive="active">
			<md-icon class="md-24">home</md-icon>
		</a>

		<a md-list-item routerLink="../../dbSelection" routerLinkActive="active">Datablock Selection</a>
		<a md-list-item routerLink="/dbColSelection" routerLinkActive="active">Column Selection</a>
	</md-nav-list>

	<md-divider></md-divider>
	<h3 md-subheader>Legacy Shiny</h3>
	<md-nav-list>
		<a md-list-item routerLink="../../home" routerLinkActive="active">
		Legacy Home ../../home
		</a>
		<a md-list-item routerLink="../view" routerLinkActive="active">
		Legacy Home ../../legacyShiny
		</a>
	</md-nav-list>
</md-list>