<md-card>
	<md-card-subtitle>Subtitle first</md-card-subtitle>
	<md-card-title>Card with title</md-card-title>
	<md-card-content>
		<p>This is supporting text.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut
			enim ad</p>
	</md-card-content>
	<md-card-actions>
		<button md-button>LIKE</button>
		<button md-button>SHARE</button>
	</md-card-actions>
</md-card>

<md-card>
	<md-card-subtitle>Subtitle first</md-card-subtitle>
	<md-card-title>Card with title</md-card-title>
	<md-card-content>
		<p>This is supporting text.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut
			enim ad</p>
	</md-card-content>
	<md-card-actions>
		<button md-button>LIKE</button>
		<button md-button>SHARE</button>
	</md-card-actions>
</md-card>

<md-card>
	<md-card-subtitle>Subtitle 1</md-card-subtitle>
	<md-card-title>Title 1</md-card-title>
	<md-card-content>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis cum, blanditiis modi expedita? Soluta rem tenetur incidunt
			cum a, reiciendis consequuntur debitis rerum quam unde, aliquid similique eveniet sit. Dolor.</div>
		<div>Eos dicta tenetur architecto natus suscipit, dignissimos similique non odit quasi modi ullam unde minima temporibus eius
			et explicabo voluptas pariatur reiciendis atque? Consequatur odit assumenda pariatur beatae reprehenderit. Reiciendis?</div>
		<div>Ipsa rem harum velit qui odio cupiditate, exercitationem aliquid consectetur minima eaque ut dolor quae voluptates explicabo
			obcaecati expedita ipsam sunt veniam, magnam eligendi similique nostrum a dignissimos. Hic, quas.</div>
	</md-card-content>
	<md-card-actions><button></button><button></button></md-card-actions>
</md-card>
<md-card>
	<md-card-subtitle>Subtitle 2</md-card-subtitle>
	<md-card-title>Title 2</md-card-title>
	<md-card-content>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit quibusdam aliquid optio quia quos ipsam dicta minima deleniti
			inventore amet porro quis explicabo voluptas quaerat, enim distinctio. Corrupti, labore, magni.</div>
		<div>Consectetur labore in, dignissimos ipsa modi dolore architecto blanditiis laudantium suscipit quod error esse nulla consequuntur
			nihil doloremque omnis consequatur mollitia quidem accusamus unde odit praesentium magnam libero vel! Esse.</div>
		<div>Rem quae sequi impedit odio ducimus quisquam cum, provident nihil, quia consectetur nobis numquam aliquid aut vero fuga
			at excepturi deserunt. Eligendi consectetur voluptates in. Dolores deserunt perferendis laborum rem?</div>
	</md-card-content>
	<md-card-actions><button></button><button></button></md-card-actions>
</md-card>
<md-card>
	<md-card-subtitle>Subtitle 3</md-card-subtitle>
	<md-card-title>Title 3</md-card-title>
	<md-card-content>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam hic perferendis, repellat accusantium ea eos. Recusandae
			illum, quae ea, tempora at, possimus deleniti suscipit laborum saepe laboriosam cum consequatur quos!</div>
		<div>Nostrum eveniet, ratione sequi culpa molestiae hic ea, blanditiis inventore accusamus soluta sit ex, veniam dolorem eos.
			Quasi repellat, veniam incidunt voluptates veritatis vel laborum laboriosam asperiores alias eum cupiditate.</div>
		<div>Expedita quas quaerat delectus officiis magni sapiente! Ab laboriosam libero, labore dignissimos et est praesentium, minus
			molestiae quos consequuntur magnam excepturi! Debitis, eos. Inventore modi ab eum ipsa, voluptatem commodi!</div>
	</md-card-content>
	<md-card-actions><button></button><button></button></md-card-actions>
</md-card>
<md-card>
	<md-card-subtitle>Subtitle 4</md-card-subtitle>
	<md-card-title>Title 4</md-card-title>
	<md-card-content>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic illo quia quam fuga laborum aut odit aliquid cupiditate maiores
			error! Minima quaerat officia sint culpa quod repudiandae, dolores et explicabo.</div>
		<div>Ad sapiente commodi qui, quibusdam odio cupiditate. Aspernatur quo sunt facilis commodi fugit soluta itaque aliquam. Aliquam
			et molestias fugiat, facere reprehenderit, nesciunt nobis sed? Unde aliquid architecto alias odio!</div>
		<div>Vero quisquam ab quos ipsam a assumenda. Quasi adipisci dolor magnam quod molestias maxime quidem dolorem recusandae eos
			debitis, mollitia enim beatae labore animi inventore, quisquam fugiat quo architecto sint.</div>
	</md-card-content>
	<md-card-actions><button></button><button></button></md-card-actions>
</md-card>
<md-card>
	<md-card-subtitle>Subtitle 5</md-card-subtitle>
	<md-card-title>Title 5</md-card-title>
	<md-card-content>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta similique suscipit voluptatem ad necessitatibus ducimus
			illum doloremque doloribus est. Adipisci consectetur sapiente, asperiores ex earum natus soluta tenetur maiores dolore!</div>
		<div>Porro eum quas sint aperiam cumque ducimus exercitationem veritatis nobis beatae ullam. Aspernatur magnam, nisi neque quia
			sapiente harum, nam officia maiores blanditiis dolore asperiores dolor, aperiam facilis veniam sit.</div>
		<div>Harum officiis assumenda aliquid porro dolorum, repellat nesciunt voluptas libero numquam. Voluptas repellendus sapiente
			modi illo, nihil deleniti? Autem laudantium rem quae illo, quod omnis deserunt tempore provident quidem dignissimos.</div>
	</md-card-content>
	<md-card-actions><button></button><button></button></md-card-actions>
</md-card>
<md-card>
	<md-card-subtitle>Subtitle 6</md-card-subtitle>
	<md-card-title>Title 6</md-card-title>
	<md-card-content>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, nemo ducimus velit quae, id aliquam nesciunt earum adipisci
			perspiciatis nisi aspernatur odit molestias distinctio, corporis. Et reprehenderit quod aliquid dolor.</div>
		<div>Ipsum fugiat eaque libero, quia, quasi voluptates aliquam incidunt ipsa deleniti asperiores alias animi temporibus ex neque
			provident ea, similique nulla sed voluptatem. Ad aliquam numquam sequi provident similique omnis.</div>
		<div>Dolor unde ullam sapiente alias esse facere corporis eveniet delectus natus ut consequuntur non maiores molestiae quaerat
			similique nihil necessitatibus, earum consequatur, autem, ab maxime voluptatum! Ex eveniet laborum est.</div>
	</md-card-content>
	<md-card-actions><button></button><button></button></md-card-actions>
</md-card>
<md-card>
	<md-card-subtitle>Subtitle 7</md-card-subtitle>
	<md-card-title>Title 7</md-card-title>
	<md-card-content>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti iure voluptates repudiandae, optio aut hic harum
			dignissimos nobis veritatis sed natus soluta sunt dolorum, quibusdam ea similique, ut omnis.</div>
		<div>Earum consequuntur, molestias aliquam ad autem quae, velit optio in perspiciatis tenetur a iure. Voluptates odio perferendis,
			aspernatur doloribus voluptas veritatis, doloremque assumenda voluptatibus sed officia sequi, maiores magni vel.</div>
		<div>Sint a eos nisi dolorem, blanditiis tempora eum ipsum aut neque iusto culpa, doloribus quisquam consectetur explicabo nam
			sunt laboriosam corrupti voluptas harum sed voluptates. Velit vero, doloremque dolorem quas.</div>
	</md-card-content>
	<md-card-actions><button></button><button></button></md-card-actions>
</md-card>
<md-card>
	<md-card-subtitle>Subtitle 8</md-card-subtitle>
	<md-card-title>Title 8</md-card-title>
	<md-card-content>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem maiores ducimus delectus debitis ab ea necessitatibus consectetur,
			odio. Maxime amet qui, repellat aut aliquid optio laudantium, quis laboriosam beatae rerum!</div>
		<div>Tempore molestias consequatur vitae laboriosam ex, at placeat quidem ipsa voluptas. Nulla pariatur, magni, iure earum a
			expedita quisquam. Sed ipsa officia odit odio facilis deserunt tempora quasi dolore ducimus.</div>
		<div>Repellat illum, eos autem unde reiciendis expedita aut quisquam at aperiam soluta quos odit, non delectus deserunt alias
			voluptatibus maxime nostrum sequi iusto iste culpa inventore. Aspernatur molestiae recusandae dolore.</div>
	</md-card-content>
	<md-card-actions><button></button><button></button></md-card-actions>
</md-card>
<md-card>
	<md-card-subtitle>Subtitle 9</md-card-subtitle>
	<md-card-title>Title 9</md-card-title>
	<md-card-content>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis sit dicta iusto officiis repudiandae. Neque odio inventore,
			tenetur eveniet assumenda sint eum similique dignissimos excepturi a optio. Inventore, nihil unde.</div>
		<div>Quam cum maxime deleniti fugit, quod modi! Rerum sit totam perferendis veritatis neque hic doloremque laborum possimus
			nihil nulla commodi minus quaerat error eius sequi beatae cupiditate tempore, quia excepturi.</div>
		<div>Ipsa tempora maiores, numquam aliquam alias, blanditiis, totam impedit culpa doloribus tempore magnam ab doloremque minus
			facilis consequuntur? Eius, tenetur ab nisi officia, laborum dignissimos quos culpa perferendis corrupti fugiat!</div>
	</md-card-content>
	<md-card-actions><button></button><button></button></md-card-actions>
</md-card>
<md-card>
	<md-card-subtitle>Subtitle 10</md-card-subtitle>
	<md-card-title>Title 10</md-card-title>
	<md-card-content>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptates unde earum illum autem at praesentium qui
			quo necessitatibus numquam quos rerum, ea libero hic in, ullam maxime fugiat laudantium?</div>
		<div>Explicabo, et nihil esse tempora dolore quasi. Recusandae provident ab veritatis nesciunt! In perspiciatis error, dolor
			sint itaque? Voluptatem recusandae voluptas autem, tenetur veritatis eum minus, nulla fuga reprehenderit explicabo?</div>
		<div>Similique nam nihil, aut cupiditate dicta laboriosam eum, rem debitis minima mollitia eaque. Veritatis doloribus, eligendi
			aliquid ipsa autem tenetur nam, cum delectus facilis similique quas optio, debitis. Laborum, nihil.</div>
	</md-card-content>
	<md-card-actions><button></button><button></button></md-card-actions>
</md-card>