<app-fixed-top-toolbar [leftSideNav]="leftSideNav" [isDarkTheme]="isDarkTheme" (onToggleDarkTheme)="onToggleDarkTheme($event)"></app-fixed-top-toolbar>
<md-sidenav-layout [class.dark-theme]="isDarkTheme" class="app-md-sidenav-layout" fullscreen>
	<md-sidenav #leftSideNav mode="side" opened>
		<app-left-sidenav></app-left-sidenav>
	</md-sidenav>
	<div class=" app-content">
		<router-outlet>
			<!--<md-progress-bar class="app-progress" mode="indeterminate" aria-label="Indeterminate progress-bar example"></md-progress-bar>-->
		</router-outlet>
	</div>
</md-sidenav-layout>

<span class="app-bottom-fab" [class.dark-theme]="isDarkTheme">
	<app-bottom-right-menu></app-bottom-right-menu>
</span>