
.app-root-toolbar-filler{
  flex: 1 1 auto
}



.app-bottom-fab {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  
  // _reboot.scss boots4
  button:focus{
    outline: none
  };
  a:focus{
    outline: none;
    color: inherit;
  };
  a:hover{
    color:inherit;
  }
  
  
}