<md-sidenav-layout>
	<md-sidenav #end align="end" (open)="mybutton.focus()">
		<button md-button #mybutton (click)="end.close()">
			<md-icon class="md-24">last_page</md-icon>
		</button>
		<app-db-selection-left-sidenav></app-db-selection-left-sidenav>
	</md-sidenav>

	<md-toolbar>
		<h3>Datablock Selection</h3>
		<span class="default-toolbar-filler"></span>
		<md-button-toggle-group name="viewMode" [(ngModel)]="dbListViewMode">
			<md-button-toggle value="list" (change)="toggleViewMode()">
				<md-icon>view_list</md-icon>
			</md-button-toggle>
			<md-button-toggle value="card" (change)="toggleViewMode()">
				<md-icon>view_comfy</md-icon>
			</md-button-toggle>
			<!--<md-button-toggle value="right">
				<md-icon>format_align_right</md-icon>
			</md-button-toggle>
			<md-button-toggle value="justify">
				<md-icon>format_align_justify</md-icon>
			</md-button-toggle>-->
		</md-button-toggle-group>
		<button md-icon-button (click)="end.toggle()"><md-icon class="md-24">more_horiz</md-icon></button>
	</md-toolbar>

	<router-outlet></router-outlet>
</md-sidenav-layout>