<md-card>
	<md-card-title>
		<h3>About Datablock Selelection</h3>
	</md-card-title>
	<md-card-content>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque eveniet omnis maxime beatae vitae ad incidunt facere nulla
			nemo quod illum explicabo voluptatem perspiciatis, in magni, impedit sapiente modi nam.</div>
		<div>Obcaecati cupiditate debitis mollitia quisquam modi numquam quis asperiores voluptatem odio vero. Aperiam vero laborum
			perferendis, rerum accusantium? Dolor hic deserunt ipsum eveniet minus fugiat ad impedit illum ducimus voluptatem?</div>
		<div>Ipsum, minima ea? Nesciunt laborum accusamus libero voluptatibus fugit ad quia veritatis, perferendis dignissimos minima
			porro ratione facere minus tenetur! Expedita amet ipsum enim soluta similique impedit in sunt deserunt.</div>
		<div>Dolor officia magni, quaerat atque, ad aperiam. Nulla, quia commodi culpa ut, consectetur quas, iste odit perspiciatis
			earum consequatur laudantium id quidem, optio repellat ducimus molestias dolor animi at similique.</div>
		<div>Id reprehenderit accusamus suscipit odio asperiores, ab, autem quas aliquam distinctio tenetur ullam quam quia eaque molestias
			neque unde. Nam eius aspernatur asperiores cupiditate odio? Inventore tenetur placeat, corporis obcaecati.</div>
	</md-card-content>
	<md-card-actions align="end">
		<button md-button color="primary">BACK</button>
		<button md-button color="primary">GO</button>
	</md-card-actions>
</md-card>