// $primary: md-palette($md-light-blue, 800, 500, 900);
// $accent:  md-palette($md-deep-orange, 500, A400, A700);
// $warn:    md-palette($md-red);
// $theme: md-light-theme($primary, $accent, $warn);

// .dark-theme {
//   $dark-primary: md-palette($md-pink, 700, 500, 900);
//   $dark-accent:  md-palette($md-blue-grey, A200, A100, A400);
//   $dark-warn:    md-palette($md-deep-orange);

// body{
//    font-family: 'Roboto', sans-serif;
// }

// App main layout
md-sidenav-layout{

    
    &.dark-theme{
        background-color: #303030;
    }
}

// over ride bootstrap css
// this button and a properties are defined in _reboot.scss bootstrap source
button:focus{
    outline: none;
};
a:focus{
    outline: none;
}
    
.default-toolbar-filler{
    flex: 1 1 auto;
}    
label{
    margin-bottom: 0;
}