<md-card>
	<md-card-header>
		<md-card-title>
			<h2>Home</h2>
		</md-card-title>
	</md-card-header>
	<md-card-content>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aperiam tempora deleniti ducimus fugiat quo optio
			in omnis veritatis nobis! Nulla iure, quas. Deleniti, rerum error placeat blanditiis, odit pariatur.</div>
		<div>Quas esse, dolorum obcaecati quam deleniti corrupti mollitia pariatur error est nisi quis minus hic id aperiam vero natus
			dicta nobis sit voluptate eveniet, excepturi veritatis illum accusamus cum? Quasi.</div>
		<div>Dolores officia similique id asperiores placeat in quaerat consequatur illum tempora, neque molestiae error modi, aliquam
			optio reiciendis inventore laborum dicta enim laudantium, veniam corrupti. Error voluptatum quae reiciendis ipsum!</div>
		<div>Illo placeat modi voluptatum dolorum nobis pariatur vitae earum sed neque ab. Impedit repellat assumenda saepe nostrum
			fugit quidem incidunt. Cupiditate ea, sed? Aliquam voluptatem, autem earum! Earum, error asperiores.</div>
	</md-card-content>
	<md-card-actions align="end">
		<a md-raised-button routerLink="/dbSelection" routerLinkActive="active" color="accent">START HERE</a>
	</md-card-actions>
</md-card>

<md-card>
	<md-card-header>
		<md-card-title>
			<h2>Legacy Shiny</h2>
		</md-card-title>
	</md-card-header>
	<md-card-content>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus molestias, velit magni itaque, totam autem ab cumque
			iusto, eveniet, magnam quod explicabo. Vel repudiandae delectus eveniet velit, in veritatis dolorum.</div>
		<div>Consequuntur eligendi minima optio aut excepturi veritatis dolore officia, blanditiis minus. Ut magnam minima impedit fugit
			nisi magni, odit accusamus vero id mollitia cumque delectus quidem quas, vitae modi. Architecto?</div>
		<div>Ullam, unde, possimus. Rem dolor odit similique explicabo voluptatum inventore, impedit, quia quidem expedita iste vel
			beatae? Quo rerum quae libero tempora. Consectetur modi fugit repellendus temporibus, doloremque cumque odio.</div>
		<div>Deserunt ab nostrum, libero adipisci voluptas. Quod ex cum officia. Ipsa provident totam harum quo suscipit qui dicta.
			Omnis necessitatibus at autem optio voluptas enim porro ullam, sint impedit quos.</div>
		<div>Ab incidunt aut cupiditate beatae modi. Praesentium sed quaerat tenetur dolores iste alias consequuntur laborum ab quidem
			placeat harum est vitae eveniet amet corrupti non nisi repudiandae voluptatem accusantium, numquam.</div>
	</md-card-content>
	<md-card-actions align="end"><a md-raised-button routerLink="/legacyShiny" routerLinkActive="active" color="accent">START HERE</a></md-card-actions>
</md-card>